.body {
  padding: 5rem;

  .res-selections-container {
    padding-block: 2rem 0.5rem;
    margin-inline: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    .res-search {
      width: 100%;
      position: relative;

      input {
        width: inherit;
        height: 3rem;
        border-radius: 8px;
        padding-inline: 2rem;
        border: 1px solid #d0c9c9;
        letter-spacing: 1px;
        font-size: 1rem;
      }
      .cancel-btn {
        cursor: pointer;
        position: absolute;
        background: #fff;
      }

      .cancel-btn {
        color: red;
        width: 17px;
        height: 20px;
        border: 1px solid red;
        border-radius: 100%;
        font-size: 14px;
        top: 14px;
        right: 9px;
      }
    }

    .res-filter {
      margin-block: 0.5rem;
      margin-left: 30px;

      .filter-flex {
        display: flex;
        align-items: baseline;
        .filter-options-list {
          display: inline-block;
          width: max-content;
        }
      }

      .filter-btn {
        cursor: pointer;
        padding-inline: 0.3rem;
        border: none;
        background: #fff;
        color: #6c6a67;
        font-size: 0.9rem;
        font-weight: 500;
        &:hover,
        &:focus {
          color: #e87919;
          transform: scale(1.05);
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        &.reset-btn {
          margin-left: 0.5rem;
          color: #045ab6e0;
          font-weight: 600;
        }
        &.filter-close-btn {
          font-weight: 600;
          color: red;
        }
      }
      .filter-toggle {
        cursor: pointer;
        color: #045ab6e0;
        font-weight: 600;
      }
    }
  }

  .res-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 1.5rem;
  }
}

.backdrop-opacity {
  opacity: 0.3;
}
