.footer {
  background: #000;
  color: #fff;
  min-height: 5rem;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul > li {
    list-style: none;
    display: inline-block;
    margin-inline: 0.5rem;
    a {
      text-decoration: none;
      color: lightblue;
    }
  }

  .copyright {
    font-size: 18px;
    font-weight: 300;
  }

  .res-address {
    display: flex;
    flex-direction: column;
  }
}
