.header {
  background: #fff;
  min-height: 5rem;
  padding-inline: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px #b9a3a3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .logo-container {
    height: 80px;
    flex: 1;
    .logo {
      height: 100%;
      cursor: pointer;
    }
  }

  .nav-items {
    margin-right: 1rem;
    ul > li {
      list-style: none;
      display: inline-block;
      margin-inline: 0.5rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .login-btn,
  .logout-btn {
    font-size: 1rem;
    font-weight: 600;
    color: #f8a202;
    &:hover {
      transform: scale(1.05);
    }
  }

  .logout-btn {
    color: #d52c2c;
    display: flex;
    align-items: center;

    .logout-icon {
      border: 2px solid #000;
      border-top: 0;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      margin-right: 0.3rem;

      div {
        border-top: 2px solid #000;
        transform: rotate(90deg);
        position: relative;
        top: 2px;
      }
    }
  }
}
