.res-card {
  padding: 2rem;
  position: relative;
  cursor: pointer;
  height: fit-content;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 8px #b9a3a3;
    border-radius: 8px;
  }

  .res-logo {
    border-radius: 4px;
    width: 100%;
  }

  .about {
    position: relative;
    padding-block: 0.5rem;
    padding-right: 1rem;
    .res-name,
    .res-cusinie,
    .res-food-type {
      padding-bottom: 0.2rem;
      font-size: 14px;
      word-wrap: break-word;
    }

    .res-cusinie {
      padding-inline-end: 1rem;
    }

    .food-type-box {
      position: absolute;
      top: 10px;
      right: 0;
      padding: 0.5rem;
      width: 14px;
      height: 14px;
      border: 1px solid;
      .res-food-type {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        top: 0;
        left: 0;
        transform: translate(3px, 3px);

        &[role="veg"] {
          background: green;
        }
        &[role="non-veg"] {
          background: #5d0909d4;
        }
      }
    }
  }

  .res-info > ul {
    list-style: none;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  hr {
    margin-block: 0.5rem;
  }
  address {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 12px;
    font-weight: 300;

    img {
      width: 30px;
      height: 30px;
      margin-right: 0.2rem;
      margin-left: -0.5rem;
    }
  }
}

.no-restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;

  .no-res-found {
    width: 350px;
    margin-block-end: 1rem;
    // clip-path: inset(0 0 40px 0);
  }
  .res-text {
    text-align: center;
    font: italic 200 24px/30px fantasy;
  }
}
